
<div class="grid">

    <div class="col-12 xl:col-12">
        <div class="surface-card py-3 px-4 shadow-1 border-round-md">
            <div class="mb-4">
                <h6 class="text-600 text-600">Quick access to principal views</h6>
            </div>

        </div>
        
    </div>
        
    <div class="col-12 xl:col-12">
        <div class="surface-card py-3 px-4 shadow-1 border-round-md">
            <div class="mb-4">
                <h6 class="text-600 text-600">Information</h6>
            </div>

        </div>
        
    </div>
        
    <div class="col-3 md:col-3 xl:col-3">
        <div class="overview-card surface-card py-3 px-4 shadow-1 border-round-md h-full">
            <div class="mb-4 flex justify-content-between align-items-center">
                <span class="font-semibold text-600">Revenue Status</span>
                <div
                    class="header-button flex align-items-center justify-content-center border-1 border-circle border-transparent text-500 cursor-pointer hover:border-gray-500"
                    style="height: 20px; width: 20px; transform: rotate(45deg)"
                >
                    <i class="pi pi-arrow-up text-sm"></i>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between">
                <h3 class="text-700">87363</h3>
                <div class="flex align-items-baseline gap-1">
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-blue-200 border-round-xs cursor-pointer hover:bg-blue-500 transition-ease-in-out transition-duration-200"
                            style="height: 12px; width: 8px"
                        >
                        <span>12</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-blue-200 border-round-xs cursor-pointer hover:bg-blue-500 transition-ease-in-out transition-duration-200"
                            style="height: 40px; width: 8px"
                        >
                        <span>40</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-blue-200 border-round-xs cursor-pointer hover:bg-blue-500 transition-ease-in-out transition-duration-200"
                            style="height: 26px; width: 8px"
                        >
                        <span>26</span></div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-blue-200 border-round-xs cursor-pointer hover:bg-blue-500 transition-ease-in-out transition-duration-200"
                            style="height: 17px; width: 8px"
                        >
                        <span>17</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-blue-200 border-round-xs cursor-pointer hover:bg-blue-500 transition-ease-in-out transition-duration-200"
                            style="height: 36px; width: 8px"
                        >
                        <span>36</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-blue-500 border-round-xs cursor-pointer transition-ease-in-out transition-duration-200"
                            style="height: 51px; width: 8px"
                        >
                        <span>51</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 flex align-items-center gap-1">
                <span class="text-cyan-500 font-semibold"
                    ><i class="pi pi-arrow-up"></i> <span>55%</span></span
                >
                <span class="text-xs">increase in today sales</span>
            </div>
        </div>
    </div>
    <div class="col-3 md:col-3 xl:col-3">
        <div class="overview-card surface-card py-3 px-4 shadow-1 border-round-md h-full">
            <div class="mb-4 flex justify-content-between align-items-center">
                <span class="font-semibold text-600">Page View</span>
                <div
                    class="header-button flex align-items-center justify-content-center border-1 border-circle border-transparent text-500 cursor-pointer hover:border-gray-500"
                    style="height: 20px; width: 20px; transform: rotate(45deg)"
                >
                    <i class="pi pi-arrow-up text-sm"></i>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between">
                <h3 class="text-700">5592</h3>
                <div class="flex align-items-baseline gap-1">
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-cyan-200 border-round-xs cursor-pointer hover:bg-cyan-500 transition-ease-in-out transition-duration-200"
                            style="height: 30px; width: 8px"
                        >
                        <span>30</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-cyan-200 border-round-xs cursor-pointer hover:bg-cyan-500 transition-ease-in-out transition-duration-200"
                            style="height: 43px; width: 8px"
                        >
                        <span>43</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-cyan-200 border-round-xs cursor-pointer hover:bg-cyan-500 transition-ease-in-out transition-duration-200"
                            style="height: 48px; width: 8px"
                        >
                        <span>48</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-cyan-200 border-round-xs cursor-pointer hover:bg-cyan-500 transition-ease-in-out transition-duration-200"
                            style="height: 40px; width: 8px"
                        >
                        <span>40</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-cyan-200 border-round-xs cursor-pointer hover:bg-cyan-500 transition-ease-in-out transition-duration-200"
                            style="height: 52px; width: 8px"
                        >
                        <span>52</span>
                    </div>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <div
                            class="tooltip-wrapper bg-cyan-500 border-round-xs cursor-pointer transition-ease-in-out transition-duration-200"
                            style="height: 18px; width: 8px"
                        >
                        <span>18</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 flex align-items-center gap-1">
                <span class="text-pink-500 font-semibold"
                    ><i class="pi pi-arrow-down"></i> <span>12%</span></span
                >
                <span class="text-xs">decrease in today sales</span>
            </div>
        </div>
    </div>
  
</div>

