<div class="layout-footer">
    <img style="width: 233px; height: 31px;"
    [src]="'assets/layout/images/logo_sin_fondo-imagen.png'"
    alt="poseidon-layout">
    <p>PROPERTY OF OECHSLER DEVELOPED BY THE IT DEPARTMENT OMX</p>
    <div class="flex gap-2">
        <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div>